<div class="widget widget_popular_news ">
    <div class="sportsmagazine-widget-heading "><h2>Suivez-nous sur facebook</h2></div>
    <div class="fb-page"
data-href="https://www.facebook.com/Club-As-Mingassang-Bitam-110420463895506" 
data-width="440"
data-hide-cover="false"
data-show-facepile="true" show_posts="true"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>  

    

</div>