 <!--// Footer \\-->
    <!--// Footer \\-->
    
    <footer id="sportsmagazine-footer " class="sportsmagazine-footer-one ">

        <!--// Footer Widget \\-->
        <div class="sportsmagazine-footer-widget ">
            <div class="container ">
                <div class="row ">
                    <!--// Widget Contact Info \\-->
                    <aside class="col-md-4 widget widget_contact_info ">
                        <a href="/" class="footer-logo "><img src="../images/logo-1.png " alt=" "></a>
                        <p>Retrouvez tout sur le AS MINGASSANG : les équipes, joueurs, effectif, actualités, vidéos, histoire, club, supporters, boutique, partenaires, interviews, billetterie, ..</p>
                        <ul class="sportsmagazine-social-network ">
                            <li>
                                <a href="https://www.facebook.com/" class="sportsmagazine-colorhover fa fa-facebook-official "></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/login " class="sportsmagazine-colorhover fa fa-twitter-square "></a>
                            </li>
                            <li>
                                <a href="https://pk.linkedin.com/ " class="sportsmagazine-colorhover fa fa-linkedin-square "></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/ " class="sportsmagazine-colorhover fa fa-google-plus-square "></a>
                            </li>
                        </ul>
                        <ul class="sportsmagazine-info-list ">
                            <li><i class="fa fa-map-marker "></i> <span>Libreville, Gabon</span></li>
                            <li><i class="fa fa-phone "></i> <span>+241 02 07 08 09</span></li>
                            <li><i class="fa fa-envelope "></i> <span><a
                                            href="mailto:name@email.com ">asmingassang@gmail.com</a></span></li>
                        </ul>
                    </aside>
                    <!--// Widget Contact Info \\-->
                    <!--// Widget Twitter \\-->
                    <aside class="col-md-4 widget widget_twitter ">
                        <div class="footer-widget-title ">
                            <h2>Twitter As Mingassang</h2>
                        </div>
                        <ul>
                            <li>
                                <i class="fa fa-twitter "></i> <span>@asmingassang</span>
                                <p>Suivez-nous sur twitter
                                    <a href="# "></a>
                                </p>
                                <time datetime="2008-02-14 20:00 "><i class="fa fa-clock-o "></i> </time>
                            </li>
                            <li>
                                <i class="fa fa-twitter "></i> <span>@asmingassang</span>
                                <p>Suivez-nous sur twitter
                                    <a href="# "></a>
                                </p>
                                <time datetime="2008-02-14 20:00 "><i class="fa fa-clock-o "></i></time>
                            </li>
                        </ul>
                    </aside>
                    <!--// Widget Twitter \\-->
                    <!--// Widget Gallery \\-->
                    <aside class="col-md-4 widget widget_gallery ">
                        <div class="footer-widget-title ">
                            <h2>Galerie Photos</h2>
                        </div>
                        <ul>
                            <li>
                                <a data-fancybox-group="group " href="../images/89621188_119514549652764_4857606564372021248_n.jpg" class="fancybox "><img src="images/89615165_119514432986109_1948288631089135616_n.jpg " alt=" "></a>
                            </li>
                            <li>
                                <a data-fancybox-group="group " href="../images/89677695_119514429652776_6667759997725704192_n.jpg" class="fancybox "><img src="images/89903209_119514236319462_2020651219344687104_n.jpg " alt=" "></a>
                            </li>
                            <li>
                                <a data-fancybox-group="group " href="../images/131994915_209883830615835_1210577618244912106_n.jpg" class="fancybox "><img src="images/90896419_123815689222650_8640363654153240576_n.jpg " alt=" "></a>
                            </li>
                            <li>
                                <a data-fancybox-group="group " href="../images/131921008_209883870615831_6614847536714201923_n.jpg" class="fancybox "><img src="images/90715927_123815812555971_5394794466433302528_n.jpg " alt=" "></a>
                            </li>
                            <!-- <li>
                                <a data-fancybox-group="group " href="images/slide-news-1.jpg " class="fancybox "><img src="images/widget-gallery-5.jpg " alt=" "></a>
                            </li> -->
                            <li>
                                <a data-fancybox-group="group " href="../images/90954745_123770319227187_3240779027874578432_n.jpg" class="fancybox "><img src="images/131486779_206833100920908_8846477250295048178_n.jpg " alt=" "></a>
                            </li>
                            <li>
                                <a data-fancybox-group="group " href="../images/104027084_148843503386535_3525406207103759791_n.jpg" class="fancybox "><img src="images/89907238_119514489652770_7224990489227821056_n.jpg " alt=" "></a>
                            </li>
                            <li>
                                <a data-fancybox-group="group " href="../images/103816173_148843776719841_2593863536068809830_n.jpg" class="fancybox "><img src="images/89910294_119514636319422_3458743227962621952_n.jpg " alt=" "></a>
                            </li>
                        </ul>
                    </aside>
                    <!--// Widget Gallery \\-->

                </div>
            </div>
            <a href="# " class="sportsmagazine-back-top "><i class="fa fa-angle-up "></i></a>
        </div>
        <!--// Footer Widget \\-->

        <!--// CopyRight \\-->
        <div class="sportsmagazine-copyright ">
            <div class="container ">
                <div class="row ">
                    <aside class="col-md-6 sportsmagazine-copyright-left ">
                        <p><a href="# ">Développé par Gersain IPANDI @ ENDURANCE SOFTWARE</a></p>
                    </aside>
                    <aside class="col-md-6 sportsmagazine-copyright-right ">
                        <ul class="sportsmagazine-copyright-link">
                            <li><a href="# " class="sportsmagazine-colorhover">Copyright (c) 2021 - As MINGASSANG - Tous
                                        droits Reservé.</a></li>
                            <!-- <li><a href="# " class="sportsmagazine-colorhover ">Contrat utilisateur</a></li> -->
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        <!--// CopyRight \\-->

    </footer>
    <!--// Footer \\-->

	<div class="clearfix "></div>
    </div>