<div class="widget widget_team_ranking" style="margin-top: 24px;">
    <div class="sportsmagazine-fancy-title "><h2>News à l'international</h2></div>

    <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
<div class="commonninja_component" comp-type="feed" comp-id="1b3fae74-9c15-4a5c-b7f6-a7376bdba90e"></div>
    
    

   
</div>
